.buttons {
    border: none;
    background-color: transparent;
    color: hsl(180, 100%, 25%);
    transition: 0.3s;
}

.buttons:hover {
    color: hsl(180, 100%, 35%);
}

.buttons:disabled {
    color: #ccc;
}

.buttons__conteiner {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 767px) {
    .buttons {
        flex-basis: 100%;
        margin: 10px;
    }
}