.buttons {
    border: none;
    background-color: transparent;
    color: hsl(180, 100%, 25%);
    transition: 0.3s;
    display: flex;

}

;

.buttons:hover {
    color: hsl(180, 100%, 35%); ;
}
.buttons:disabled{
    color: #ccc;
}
@media (max-width: 767px) {
    .buttons {
    flex-basis: 100%;
    margin: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    }
}