.section {
    margin: 10px 0;
    background-color: white;

}

.section__header {
    border-bottom: solid rgb(230, 227, 227) 1px;
    font-size: 20px;
    padding: 20px;
    margin: 0;
    display: grid;
    grid-template-columns:1fr auto auto;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
}
.section__conteiner {
    padding: 20px;
}

.section__header--buttons {
    border: none;
    background-color: transparent;
    color: hsl(180, 100%, 25%);
    transition: 0.3s;
    display: flex;

}

;

.section__header--buttons:hover {
    color: hsl(180, 100%, 35%); ;
}
.section__header--buttons:disabled{
    color: #ccc;
}
.section__header--conteiner {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid rgb(230, 227, 227) 1px;
}
@media (max-width: 767px) {
    .section__header--conteiner {
        grid-template-columns: 1fr;

    }
}
@media (max-width: 767px) {
    .section__header--buttons {
    flex-basis: 100%;
    margin: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    }
}