.form {
    margin: 15px auto;
    width: 70%;
    min-width: 260px;
    max-width: 600px;
    display: grid;
    grid-template-areas:
        "hd hd hd"
        "mn mn mn"
        "bt bt bt";
}

.form__fieldset {
    margin: 10px;
    padding: 20px;
    background-color: white;
    border: none;
}

.form__fieldset--top {
    grid-area: mn;
    display: grid;
    grid-template-areas:
        "hd hd hd"
        "mn mn as";

}

.form__header--top {
    grid-area: hd;
}

.form__input {
    grid-area: mn;
    width: 100%;
    padding: 5px;
    border: 1px solid rgb(230, 227, 227);


}

.form__button {
    grid-area: as;
    border: none;
    background-color: teal;
    color: white;
}

.form__fieldset--bottom {
    display: grid;
}

.form__fieldset--bottom {
    grid-area: bt;
}

.form__header {
    border-bottom: solid rgb(230, 227, 227) 1px;
}

.form__header--main {
    grid-area: hd;
    margin-left: 10px;
}